body {
    background-color: whitesmoke;
}

.login-form {
    border: 1px gray solid;
    padding: 35px;
    background-color: white;
}

.connexion-btn {
    float: right;
}

.wp-logo img{
    margin-left: 110px;
}

.under-menu {
    font-size: smaller;
    padding: 25px;
}

.under-menu .back {
    margin-top: 25px;
}

.under-menu .policy {
    margin-top: 45px;
    margin-left: 125px;
    text-decoration: underline;
    margin-bottom: 35px;
}

.msg-error p{
    background-color: white;
    border-left: red solid 3px;
}
